DATABASE_URL="postgresql://postgres.hinyfrizwtkgnzaphdjc:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
JWT_SECRET="your-secret-key-change-in-production"
JWT_EXPIRES_IN="7d"
REDIS_URL="redis://default:YOUR_REDIS_PASSWORD@redis-11893.crce302.ap-seast-1-3.ec2.cloud.redislabs.com:11893"
PORT=5000
